.shadow{
    background-color: #A3CB38;
    // margin-top:100px;
}
.error{
    color:white;
}
.input{
    border-radius: 10px;
    width: auto;
}
h1{
    margin-left: 60px;
}
.btn{
    margin-left:80px;
    background-color: white;
    color:grey;
    border: white;
}
.btn:hover{
    background-color: #A3CB38;
    color:white;
    border: #A3CB38;
}
// .error{
//     text-siz:100px;
// }